footer {
    background-color: #5C5470;
    padding: 1rem 10rem;
    min-height: fit-content;
    max-height: 200px;
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social > ul {
    display: flex;
    gap: 1rem;
}